doctype html
html
  head 
    title= title 
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/datatables.css')
    link(rel='stylesheet', href='/stylesheets/datatables.min.css')
    script(type='text/javascript' src='/javascripts/jquery.min.js')
    script(type='text/javascript' src='/stylesheets/bootstrap/js/bootstrap.js')
    script(type='text/javascript' src='/javascripts/functions.js')
    script(type='text/javascript' src='/javascripts/loader.js')
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(type='text/javascript' src='/javascripts/jqueryUI.js')
    script(type='text/javascript' src='/javascripts/datatables.js')            
    script(type='text/javascript' src='/javascripts/datatables.min.js')            

  body
    block content
    .container
