extends layout_reporte
block content  
    div.se-pre-con
    .well.well-lg.span11.offset0 
        | <br/>    
        h3 #{title}
        form.form-inline#reporteBotSubmit
            input(type="text" name="fechaIni" placeholder="Fecha Inicio")#fechaIni
            input(type="text" name="fechaFin" placeholder="Fecha Fin")#fechaFin
            select(name="estatus")#estatusOrdenes
              option(selected value='todas') Todas
              option(value=0) Por procesar
              option(value=1) Por asignar
              option(value=2) En proceso
              option(value=4) Asignadas
              option(value=400) M치ximo intentos
              option(value=500) No procesada
            button.btn.btn-success() 
                i.icon-signal.icon-white
                |  Enviar        
        div.btn-toolbar
            button.btn.btn-success#reporteBotMes
                i.icon-calendar.icon-white
                |  Mensual
            button.btn.btn-success#reporteBotExcel
                i.icon-file.icon-white
                |  Descargar en Excel 
            button.btn.btn-success#reporteBotExcelPorHora
                i.icon-time.icon-white
                |  Reporte por hora Excel        
        hr
        div#chart_div_bot(style="width: 800px; height: 600px")
        div#dialogReporteBotExcel(title="Exporta info a Excel")
            | Selecciona una fecha de inicio y de fin para exportar la informaci칩n a Excel.
            hr
            input(type="text" name="fechaIniExcel" placeholder="Fecha Inicio")#fechaIniExcel
            input(type="text" name="fechaFinExcel" placeholder="Fecha Fin")#fechaFinExcel
            select(name="estatus")#estatusOrdenesExcel
              option(selected value='todas') Todas
              option(value=0) Por procesar
              option(value=1) Por asignar
              option(value=2) En proceso
              option(value=4) Asignadas
              option(value=400) M치ximo intentos
              option(value=500) No procesada   
        div#dialogReporteBotExcelPorHora(title="Exporta info a Excel")
            | Selecciona una fecha de inicio y de fin para exportar la informaci칩n a Excel.
            hr
            input(type="text" name="fechaIniExcelPorHora" placeholder="Fecha Inicio")#fechaIniExcelPorHora
            input(type="text" name="fechaFinExcelPorHora" placeholder="Fecha Fin")#fechaFinExcelPorHora
    script.
        $(".se-pre-con").fadeOut("slow");
        var chartArray = JSON.parse('!{chartArray}');           

        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart); 

        function drawChart() 
        {
          var data = new google.visualization.arrayToDataTable(chartArray);

          var options = {
            chart: {
              title: 'Ordenes robot',              
            },
            vAxis: {
              format: 'decimal'
            },
            legend: {
              position: 'bottom'
            }
          };

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.charts.Bar(document.getElementById('chart_div_bot'));
          chart.draw(data, google.charts.Bar.convertOptions(options));
        }
